*{
    margin:0;
    padding:0;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:100px;

}
form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;


}
form input[type="text"],button[type="submit"]{
    
    font-size: 18px;
    padding: 10px;
    border-radius:4px ;
    margin-top: 30px;
}
.btn{
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.btn:hover{
    background-color:#ff5c5c;
}
.card-img-top{
    width:100px;
}
/*more styling needed*/